h1 {
    color: purple;
}
h2 {
    color: royalblue;
}

p {
    color: darkred;
}

.coding-article-heading {
    color: darkolivegreen;
}

.tech-article-heading {
    color: lawngreen;
}

#coding-section {
    background-color: bisque;
}

#tech-section {
    background-color: cadetblue;
}
