h1 {
    color: purple;
}
h2 {
    color: royalblue;
}

p {
    color: darkred;
}

#read-more-link-id {
    color: red;
    background-color: aquamarine;
}
.read-more-link {
    color: royalblue;
    background-color: yellow;
}

.coding-article-heading {
    color: darkolivegreen;
}

.tech-article-heading {
    color: lawngreen;
}

#coding-section {
    background-color: bisque;
}

#tech-section {
    background-color: cadetblue;
}
