/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-gray {
    background-color: #808080;
}

.container {
    font-size: 0;
    width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

nav {
    height: 80px;

    margin-bottom: 30px;
}

main {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    margin-bottom: 30px;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 322.5px;
    height: 701px;
    padding: 30px;
    background-color: #d9d9d9;
}

.aside-top-box {
    height: 157px;
    width: 262px;
    background-color: #808080;
    margin-bottom: 30px;
}

.aside-bottom-box {
    height: 453px;
    width: 262px;
    background-color: #808080;
}

.top-content {
    margin-bottom: 30px;
}

.top-content-box {
    height: 317px;
    width: 322.5px;

    display: inline-block;
}

.top-content-box-1 {
    margin-right: 30px;
}

.top-content-box-2 {
    margin-right: 30px;
}

.bottom-content {
    height: 354px;
    background-color: #d9d9d9;
    padding: 30px;
}

.bottom-content-box-1 {
    width: 647px;
    height: 294px;
    display: inline-block;
    margin-right: 30px;
}
.bottom-content-box-2 {
    width: 289px;
    height: 294px;
    display: inline-block;
}

footer {
    height: 80px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-gray {
    background-color: #808080;
}

.container {
    font-size: 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

nav {
    height: 80px;
    margin-bottom: 30px;
}

main {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc(100% - ((100% - 90px) / 4) - 30px);
}

aside {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 90px) / 4);
    height: 701px;
    padding: 30px;
    background-color: #d9d9d9;
}

.aside-top-box {
    height: 157px;
    background-color: #808080;
    margin-bottom: 30px;
    /* By default width of block element is 100% */
}

.aside-bottom-box {
    height: 453px;
    background-color: #808080;
    /* By default width of block element is 100% */
}

.top-content {
    margin-bottom: 30px;
}

.top-content-box {
    height: 317px;
    width: calc((100% - 60px) / 3);

    display: inline-block;
}

.top-content-box-1 {
    margin-right: 30px;
}

.top-content-box-2 {
    margin-right: 30px;
}

.bottom-content {
    height: 354px;
    background-color: #d9d9d9;
    padding: 30px;
}

.bottom-content-box-1 {
    width: calc(((655 * 100) / 967.5) * 1% - 30px);
    height: 294px;
    display: inline-block;
    margin-right: 30px;
}
.bottom-content-box-2 {
    width: calc(((312.5 * 100) / 967.5) * 1%);

    height: 294px;
    display: inline-block;
}

footer {
    height: 80px;
}
