.box {
    margin: 20px auto;
    padding: 50px 20px;
    border: 1px solid #000;
}

.title {
    margin: 0 auto 20px;
    padding: 10px;
    border-top: 2px dashed #00f;
    border-bottom: 2px dashed #00f;
}

/* Distance between two elements is 50px */
.test-box-1 {
    margin-bottom: 30px;
}

.test-box-2 {
    margin-top: 50px;
    padding-top: 1px;
}
