div {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
}

.rgba {
    position: relative;
    width: max-content;
    height: max-content;
}
.rgba img {
    height: 300px;
}

.overlay {
    position: absolute;
    inset: 0;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: hsla(0, 0%, 0%, 0.8);
    background-color: #000000cc; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
